@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Raleway&display=swap');

#header {
    background-color: #282834;
    position: fixed;
    top: 0;
  min-height: 75px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main {margin: 0;}

body {
    margin: 0;
    background: #1c1b23;
    font-family: Raleway, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style: none;
    display: inline-block;
    color: white;
  }
  


  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid #6f49ff;
    color:#aaaaaa;
    transition: 0.4s;
  }

  .logo {
width: 800px;
  }

  #header-img {
    width: 180px;
    height: 60px;
    cursor: pointer
}

  .boop {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

  }

  .newspaper {
    margin: 100px auto 70px auto;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    max-height: 200px;
    height: 150px;
  }

  .newspaper-heading {
    color: white;
    margin-bottom: 17px;
  }

  #email {border-radius: 5px;
    border: 2.5px solid #dddddd;
    background: #282834;
    outline: none;
    transition: border-color 0.5s;
    font-size: 15px;
    padding: 10px;}
    
    #email:focus {border-color: #6f49ff;}
    #email::placeholder {color: #aaaaaa;}
    #email::first-line {color: #aaaaaa;}

    #submit {
        color: white;
        font-weight: bold;
        background: #6f49ff;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
        padding: 7px 14px;
    }

    #submit:hover{background: #552ced;
        transition: 0.5s}

  #form {margin-bottom: 10px; }

#Features {margin-bottom: 40px;

display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(4, 100px);
grid-gap: 20px 50px;}


  .icon { grid-column: 1 / 1;
      align-self: center;
      justify-self: right;

  }

.disc {
  grid-column: 2 / -1;
  align-self: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 8px;
  color: white;

} 

.disc > p {
  font-family: 'Raleway', sans-serif;
  color: #aaaaaa;
}

#video {
  width: 50%;
  height: 100%;
  justify-self: center;
  grid-column: 1 / -1;
  
}

.video {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 80px;
}


#Pricing {
  display: flex;
  flex-direction: row;
  grid-gap: 5px;
  font-family: 'Raleway', sans-serif;
  margin-top: 200px;
  justify-content:space-evenly;
  margin-bottom: 30px;
  
}
.price {
  height: 370px;
  width: 350px;
  background-color: white;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 100px 35px 85px 2fr 1fr;
  border-radius: 8px;
  border: 2px solid #6e4cff;
  margin-top: 42px;
}

.length {
  margin-left: 25px;
  font-size: 23px;
  padding-top: 15px;
  color: #372681
}

.off {
  background-color: #d2d5db;
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
 padding-top: 5px;
 width: 80px;
 justify-self: right;
 align-self: center;
 height: 35px;
 text-align: center;
 border-radius: 15px;
 font-family: 'Agdasima';
}

.money {
  grid-column: 1 / -1;
  font-size: 35px;
  font-weight: bold;
  color: #372681;
  align-self: top;
  justify-self: center;
  grid-row: 2 / 4;
  border-top: 1px solid #e9e4ff;
  padding-top: 60px;
  width: 300px;
  padding-left: 60px
}

.month {
  font-size: 20px;
  color: gray;
}

.get {
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
  font-size: 21px;
  border: 2px solid #6e4cff;
  color: #6e4cff;
  padding: 19px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.get:hover {
  background-color: #6e4cff;
  color: white;
}

.back {
  grid-column: 1 / -1;
  align-self: top;
  justify-self: center;
  padding-top: 10px;
  color: green;
}

.billed {
  grid-column: 1 / -1;
  align-self: top;
  justify-self: center;
  font-size: 12px;
  color: gray;

}

.price2 {
  height: 415px;
  width: 350px;
  background-color: white;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 60px 45px 50px 58px 35px 85px 1fr 1fr;
  border-radius: 15px;;
  border: 4px solid;
  border-color: #6e4cff;
  margin-top: 0;
}

.best {
  grid-column: 1 / -1;
  background-color: #6e4cff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  letter-spacing: 8.5px;
  color: white;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  font-weight: bold;
}

.price2 > .length {
  grid-row: 2 / 2;
}

.price2 > .money {
  grid-row: 4;
  grid-column: 1 / -1;
  border: none;
  padding-top: 0px;
}

.three > .money {
  grid-row: 3;
  grid-column: 1 / -1;
  border: none;
  padding-top: 0px;
}

.lifetime {
  justify-content: center ;
  align-items:last baseline;
  grid-column: 1 / -1;
  grid-row: 3;
  border-top: 1px solid #e9e4ff;
  width: 300px;
  margin-left: 20px;
  letter-spacing: 6px;
  color: #372681;
  font-weight: bold;
  font-size: 12px;
  display: grid;
}

.save {
  grid-column: 1 / -1;
text-align: center;
color: green;
font-weight: bold;
}

.price2 > .back {
  align-self: center;
}

.price2 > .billed {
  align-self: last baseline;
}


.three {
  height: 370px;
  width: 350px;
  background-color: white;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:60px 45px 50px 58px 35px 85px 2fr 1fr;

}

.three > .length {
  grid-row: 1 / 1;
}

.three > .lifetime {
  grid-row: 2 / 2;

}
.three > .money {
  grid-column: 1 / -1;
  border: none;
  padding-top: 0px;
}

.three > .back {
  align-self: center;
}

.three > .billed {
  align-self: last baseline;
}

@media only screen and (max-width: 1035px) {

  #Pricing {
    display: grid;
    grid-template-columns: 1fr 1fr;

    transition: 0.4s;
  }  

  .three {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 728px) {
  #Pricing {
    display: grid;
    grid-template-columns: 1fr;
    transition: 0.4s;
  }

  .price {
    margin-bottom: 30px;
    transition: 0.4s;
  }
}

@media only screen and (max-width: 608px) {
  #header {
  padding: 0px 30px;
  justify-content: space-evenly;

}
 .link2 {
  margin-left: 5px;
 }
}
